<h3 class="mt-3 text-center">ویرایش پست </h3>

<%- include ('../includes/validationErrors.ejs') %>

<div class="d-flex align-items-center justify-content-center">
    <form action="/dashboard/edit-post/<%= post._id %>" class="w-50" method="POST" enctype="multipart/form-data">
        <label for="selectedThumbnail">عکس بند انگشتی</label>
        <div class="input-group mb-3">
            <input
                    type="file"
                    class="custom-file-input"
                    name="thumbnail"
                    id="selectedThumbnail"
                    aria-describedby="inputGroupFileAddon03"
            />
            <label
                    id="thumbStatus"
                    class="custom-file-label"
                    for="inputGroupFile03"
            >عکس مورد نظر را انتخاب کنید</label
            >
        </div>
        <div class="form-group">
            <label for="title">عنوان پست</label>
            <input
                    type="text"
                    class="form-control w-50"
                    name="title"
                    id="title"
                    value="<%= post.title %>"
            />
        </div>

        <div class="form-group">
            <label for="status">وضعیت</label>
            <select name="status" class="form-control w-25" id="status">
                <option value="<%= post.status %>" selected><%= post.status === "public" ? "عمومی" : "خصوصی" %></option>
                <option value="<%= post.status === "public" ? "private" : "public" %>"><%= post.status === "public" ? "خصوصی" : "عمومی" %></option>
            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-secondary" type="button" id="imageUpload">اپلود عکس</button>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="selectedImage" name="selectedImage">
                <label for="selectedImage" id="imageStatus" class="custom-file-label">عکس مورد نظر را انتخاب
                    کنید</label>
            </div>
        </div>

        <div id="progressDiv" style="display: none">
            <div class="progress">
                <div id="progressBar" class="progress-bar" role="progressbar" style="<%=       %>" aria-valuemin="0"
                     aria-valuemax="100">
                </div>
            </div>
        </div>

        <div class="w-100 bg-light text-center">
            <p class="overflow-auto" id="uploadResult">آدرس عکس آپلود شده</p>
        </div>

        <div class="form-group">
            <h5>متن اصلی پست</h5>
            <textarea name="desc" class="form-control" id="desc"><%= post.desc %></textarea>
        </div>

        <div class="row">
            <input type="submit" value="ویرایش پست" class="btn btn-success m-2"/>
            <a href="/dashboard" class="btn btn-warning m-2">انصراف</a>
        </div>
    </form>
</div>
